#selectors, #items{
    background-color: white ;
}

.hide{
    display: none
}
.points{
    color: #b4b4b4;
    margin: 3px 0;
}

@media screen and (max-width: 480px) {
    body {
        background-color: lightgreen;
    }
    #selectors{
        display:none;
    }
    .selector{
    }
    #items{
        display:block;
        margin: 0;
        padding: 0;
    }
    .item{
        padding: 10px;
        margin: 0 10px 0 10px;
        border: 1px solid #efefef;
        max-width: 400px;
    }
    .firstItem{

    }
    .lastItem{

    }
}
@media screen and (min-width: 480px) {
    body {
        background-color: lightblue;
    }
    #selectors{
        display:block;
    }
    .selector{
        display:inline;
        padding: 10px 10px 0 10px;
        margin: 10px 0 0 0;
        border: 1px solid #efefef;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    #items{
        display:block;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .item{
        align-self: center;
        padding: 10px;
        margin: 0 10px 10px 0;
        border: 1px solid #efefef;
        border-radius: 5px;
        max-width: 400px
    }
    .selector.active{
        background-color: white;
    }
    .selector.noactive{
        background-color: lightgray;
    }
    .item.active{

    }
    .item.noactive{
        display: none;
    }
}